@tailwind base;

@tailwind components;

@tailwind utilities;

.onHoverChangeCol{
    color: black;
}

.onHoverChangeCol:hover{
    color: lightgray;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    line-height: 40px;
    padding: 0 10px;
}

.text{
    font-size: 20px;
    font-weight: bold;
}

.icon{
    vertical-align: middle;
}

.group{
    display: inline-block;
    justify-content: space-around;
}

.clearfix{
    clear: both;
}